body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intensity {
    border: 1px solid black;
    margin: 0.5em;
}
.range_label{
    width: 9em;
    text-align: right;
    margin-right: 0.5em;
}
.range{
    display: flex;
    align-items: center;
    padding-right: 2em;
}
.range_value{
    width: 5em;
    text-align: center;
    margin-left: 0.5em;
}

#jaws_with_arrow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.arrow{
    width: 2.5em;
}