body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intensity {
    border: 1px solid black;
    margin: 0.5em;
    touch-action: none;
}
.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.separator{
    width: 20em;
    height: 0.1em;
    background-color: black;
    margin: 0.5em;
}
.range_label{
    width: 9em;
    text-align: right;
    margin-right: 0.5em;
}
.range_value{
    width: 5em;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 2em;
}
.checkbox_label{
    margin-left: 0.25em;
    width: 10em;
}

#jaws_with_arrow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.arrow{
    width: 2.5em;
}